.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeef3;
}

.btn-custome {
    background-color: #f7f9fc;
}

.rightcontent {
    /* background-color:  #e9c46a; */
    background-color: #a9a9a9c1;
}

.rightcontent p {
    color: #555555;
}

.rightcontent h5 {
    color: #2c3e50
}

@media only screen and (max-width: 600px) {
    .rightcontainer {
        padding: 0 !important
    }

    .formcont {
        padding: 0 !important;
        margin-top: 12px;
    }

    
}